body {
  margin: 0;
}
.App {
  text-align: center;
}

#app-navigator {
  background-color:#ddd;
  position: fixed;
  width: 200px;
  height: 30px;
  left: 10%;
  top: 0%;
  margin-left: -100px; /*half the width*/
  padding-top: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#app-navigator> * {
  text-decoration: none;
  color: #4caf50;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin: 4px 0px 0px 4px;
  cursor: pointer;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 0px 0px 4px 4px;
}

#buttons > button {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  transition-duration: 0.4s;
}

#buttons > button:hover {
  background-color: #4caf50;
  color: white;
}

.selectedPoint {
  background-color: #4caf50 !important;
  color: white !important;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 150px;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.point-assigned-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 150px;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  color: #4caf50;
  border: 2px solid #4caf50;
  font-weight: bold;
}

hr.separator {
  border-top: 3px dotted #bbb;
  margin: 20px 0px;
}

.title {
  font-size: 18px;
  padding: 16px 0px;
  font-weight: bold;
}

.story-point {
  font-size: 30px;
  font-weight: bold;
}


.disconnectMessage {
  color: Red;
  font-size: 20px;
  background-color: #d3d3d3;
  padding-top: 10px;
}



/* Result Section */

.header,
.storyPoints {
  background-color: #d3d3d3;
  padding: 10px 0px 20px 0px;
}

.storyPoints {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.result-section {
  font-size: 20px;
  padding: 5px 0px;
  color: #4caf50;
  height: 20px;
  margin-bottom: 4px;
}

.result-title, .pointCount, .pointValue, .countValue {
  display: inline;
}

.result-title {
  padding: 10px 0px;
  font-style: italic;
}

.pointValue {
  background-color: #4caf50;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  padding: 1px 10px;
}

.pointCount {
  border: 1px solid #4caf50;
  border-radius: 2px;
  text-align: center;
  margin-left: 10px;
}

.countValue {
  text-align: center;
  padding: 1px 10px;
}

/* Attendee Section */

.attendee-name > span#name {
  font-weight: bold;
}

.attendee-name > span#status {
  font-style: italic;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
